<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content class="ion-padding" scroll-y="false">
      <ion-list id="inbox-list">
        <ion-avatar>
          <img src="/assets/images/profile-1.jpg" />
        </ion-avatar>
        <ion-list-header class="ion-padding-top">Alpay Zeren</ion-list-header>
        <ion-note class="ion-padding-bottom">alpay@alphateknoloji.com</ion-note>

        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <img
              width="24"
              class="ion-margin-end"
              [src]="'/assets/images/icon-' + p.icon + '-64.png'"
            />
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <div class="logo">
        <img src="/assets/images/alpha-1.png" width="125" />
      </div>
    </ion-content>
  </ion-menu>

  <ion-content [fullscreen]="true" id="main-content" scroll-y="false">
    <ion-header [translucent]="true" collapse="condense">
      <ion-toolbar>
        <ion-title class="ion-text-uppercase"
          ><ion-chip color="primary">Ece Thermo</ion-chip></ion-title
        >
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="connected">
          <img src="/assets/images/icon-config-96.png" height="18" />
          <img src="/assets/images/battery-1.png" height="18" />
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="monitor" *ngIf="connected">
      <ion-card color="light" class="notification animate__animated animate__fadeInDown animate__fast" [class.animate__fadeOutUp]="!notify">
        <ion-card-content>
          <ion-text
            >Bebeğiniz uzun süre hareketsiz kaldığında ya da vücut ısısı
            yükseldiğinde bildirim alabilirsiniz.
          </ion-text>
          <span class="ion-text-end">
            <ion-button size="small" fill="outline" color="primary" (click)="hideNotification()"
              >Bildirimleri Aç</ion-button
            >
          </span>
        </ion-card-content>
      </ion-card>

      <div class="position animate__animated animate__fadeIn animate__slower">
        <div
          class="position-1 animate__animated animate__fadeIn"
          *ngIf="onStomach"
        >
          <img
            src="/assets/images/position-1.png"
            height="180"
            class="animate__animated animate__pulse animate__slower animate__infinite"
          />
          <ion-text color="medium" class="ion-text-center"
            ><h1>Yüzüstü Uyuyor</h1></ion-text
          >
        </div>

        <div
          class="position-2 animate__animated animate__fadeIn"
          *ngIf="!onStomach"
        >
          <img
            src="/assets/images/position-2.png"
            height="180"
            class="animate__animated animate__pulse animate__slower animate__infinite"
          />
          <ion-text color="medium" class="ion-text-center"
            ><h1>Sırtüstü Uyuyor</h1></ion-text
          >
        </div>
      </div>

      <div class="bottom ion-padding animate__fadeInUp" [class.animate__animated]="!monitoring">
        <div class="movement">
          <ion-chip
            color="secondary"
            class="animate__animated animate__fadeInLeft"
            >Hareket</ion-chip
          >
          <div class="label animate__animated animate__fadeInLeft">
            <ion-text color="secondary"><h1>{{ movement }}</h1></ion-text>
            <ion-text color="medium"> / dk</ion-text>
          </div>
        </div>
        <div class="temp">
          <ion-chip
            [color]="tempNum < 37 ? 'success' : 'warning'"
            class="animate__animated animate__fadeInRight"
            >Vücut Isısı</ion-chip
          >
          <div class="label animate__animated animate__fadeInRight">
            <ion-text [color]="tempNum < 37 ? 'success' : 'warning'"
              ><h1>{{ temp }}</h1></ion-text
            >
            <ion-text color="medium"> C°</ion-text>
          </div>
        </div>
      </div>
    </div>

    <div
      class="vertical-center animate__animated animate__fadeIn"
      *ngIf="!connected"
    >
      <img
        src="/assets/images/no-device-1.png"
        height="96"
        class="ion-margin-bottom"
      />
      <h4><b>Hiç Cihaz Bulunamadı</b></h4>
      <small>Hazır olduğunuzda Ekle'ye dokunun</small>
      <p>
        <ion-button
          color="light"
          shape="round"
          class="ion-margin-top"
          id="open-modal"
          (click)="search()"
          >Ekle</ion-button
        >
      </p>

      <ion-modal
        #modal
        trigger="open-modal"
        [initialBreakpoint]="1"
        [breakpoints]="[0, 1]"
      >
        <ng-template>
          <div class="block">
            <img
              *ngIf="searching"
              src="/assets/images/bluetooth-search-1.gif"
              width="100%"
            />

            <div class="vertical-center" *ngIf="!searching">
              <ion-avatar class="animate__animated animate__bounceIn">
                <img src="/assets/images/baby-1.jpg" />
              </ion-avatar>
              <p><b>Ece Thermo</b></p>
              <div class="horizontal-center">
                <img src="/assets/images/battery-1.png" height="24" />
                <small>%50</small>
              </div>
              <ion-button
                color="primary"
                size="small"
                fill="outline"
                class="ion-margin-top"
                (click)="connect()"
                >Bağlan</ion-button
              >
            </div>
          </div>
        </ng-template>
      </ion-modal>
    </div>
  </ion-content>
</ion-split-pane>
